Source: monitoring-plugins-credativ
Section: net
Priority: optional
Maintainer: credativ GmbH <info@credativ.de>
Uploaders: Patrick Schoenfeld <patrick.schoenfeld@credativ.de>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.5
Vcs-Git: https://github.com/credativ/nagios-icinga-checks.git
Vcs-Browser: https://github.com/credativ/nagios-icinga-checks

Package: monitoring-plugins-credativ
Architecture: any
Depends: monitoring-plugins-credativ-openvpn,
    monitoring-plugins-credativ-puppet,
    monitoring-plugins-credativ-postfix,
    monitoring-plugins-credativ-systemd,
    ${misc:Depends}
Description: Plugins for nagios compatible monitoring systems by credativ
 Plugins for nagios coompatible monitoring systems like Naemon and Icinga,
 written by employees of the credativ GmbH.

Package: monitoring-plugins-credativ-openvpn
Architecture: all
Depends: python, ${misc:Depends}, ${python:Depends}
Description: Plugins for nagios compatible monitoring systems (openvpn)
 Plugins for nagios coompatible monitoring systems like Naemon and Icinga,
 written by employees of the credativ GmbH. It contains the 'check_openvpn'
 plugin.

Package: monitoring-plugins-credativ-puppet
Architecture: all
Depends: python, python-yaml, ${misc:Depends}, ${python:Depends}
Description: Plugins for nagios compatible monitoring systems (puppet)
 Plugins for nagios coompatible monitoring systems like Naemon and Icinga,
 written by employees of the credativ GmbH. It contains the 'check_puppet'
 plugin.

Package: monitoring-plugins-credativ-postfix
Architecture: all
Depends: ${misc:Depends}
Description: Plugins for nagios compatible monitoring systems (postfix)
 Plugins for nagios coompatible monitoring systems like Naemon and Icinga,
 written by employees of the credativ GmbH. It contains the 'check_mailq_multi'
 plugin.

Package: monitoring-plugins-credativ-systemd
Architecture: all
Depends: ruby, systemd (>= 215), ${misc:Depends}
Description: Plugins for nagios compatible monitoring systems (systemd)
 Plugins for nagios coompatible monitoring systems like Naemon and Icinga,
 written by employees of the credativ GmbH. It contains the 'check_systemd'
 plugin.
